p {
   
    margin-right: 20px;
    margin-left: 20px;
}
body {
    text-align: justify;
    margin : 20px;
    font-size : 
    
}
table { 
    font-family: 'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 100%;
}
td, th { 
    border: 1px solid #dddddd;
    text-align:left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
button { 
       background-color :white ;
       border-collapse: collapse;
       border: 1px solid black;
       padding : 4px;
}
a { 
    color :black ;
}
